<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Splide deondencies-->
    <link
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
      rel="stylesheet"
    />

    <!--Tailwind dependencies-->
    <script src="https://cdn.tailwindcss.com"></script>
    <!--Font awsome dependencies-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>الرئيسية| MAGNA</title>
    <!--Fav icon-->
    <link rel="icon" href="./Public/assets/Favicon.png" type="image/x-icon" />
  </head>
  <body>
    <!--------------------Header Comoponent------------------------>
    <header>
      <nav class="main-navbar mr-16 mt-8 flex fixed right-0 z-50" dir="rtl">
        <a href="./index.html">
          <div class="logo">
            <img
              src="./Public/assets/Logo.png"
              alt=""
              class="magna-logo w-[150px] relative mt-[0.2rem] mr-16"
            />
          </div>
        </a>
        <!--------------------logo V2------------------------>

        <a href="./index.html">
          <div class="logo_2">
            <img
              src="./Public/assets/Logo_3.png"
              alt=""
              class="magna-logo w-[150px] relative mt-[0.2rem] mr-16"
            />
          </div>
        </a>
        <!--------------------logo V3------------------------>
        <a href="./index.html">
          <div class="logo_3">
            <img
              src="./Public/assets/Logo_2.png"
              alt=""
              class="magna-logo w-[150px] relative mt-[0.2rem] mr-16"
            />
          </div>
        </a>
        <!--------------------nav Comoponent------------------------>
        <ul class="main-list flex mr-2 mt-2 font-semibold">
          <li><a href="./index.html">الرئيسية</a></li>
          <li><a href="./policy.html">منهجية ماجنا الاستراتيجي</a></li>
          <li><a href="./clients.html">عملاؤنا</a></li>
          <li><a href="./contactus.html">تواصل معنا</a></li>
        </ul>
        <button
          id="booking-button"
          dir="ltr"
          class="bg-transparent hover:bg-blue-500 text-white hover:text-white py-2 px-4 border border-white-500 hover:border-transparent rounded absolute left-16 font-semibold"
        >
          احجز استشارتك الأن
        </button>
      </nav>
      <div class="scrollbar">
        <div class="dot" data-target="section1"></div>
        <div class="dot" data-target="section2"></div>
        <div class="dot" data-target="section3"></div>
        <div class="dot" data-target="section4"></div>
        <div class="dot" data-target="section5"></div>
      </div>
    </header>
    <!---------------------------Main Hero-Section--------------------------------->
    <section class="Hero-sction">
      <div class="Hero-intro">
        <div id="section1" class="hero-conatiner section">
          <div class="hero-content top-[18rem] relative mr-16 z-30" dir="rtl">
            <h1 class="text-white text-6xl" id="intro-frame">وجهتك لابتكار</h1>
            <div class="sime-title" id="intro-frame-v2">
              <img
                src="./Public/assets/Frame 521.png"
                alt="custom-border"
                class="custom-border w-[675px] h-[150px] absolute z-10 opacity-90 mt-[-2rem]"
              />
              <h1
                class="text-white text-5xl tracking-wide z-20 absolute mt-[3rem]"
              >
                نموذج عمل صعب التقليد
              </h1>
            </div>
            <div
              class="content-details mt-[8rem] text-white text-xl w-[810px] absolute"
            >
              <h1 class="fram-intro-text">
                نحن نعمل على تغيير القواعد والمعايير في عالم الأعمال، ونحن هنا
                لمساعدتك على تحقيق أهدافك بطرق لا تصدق.
              </h1>
              <button
                dir="ltr"
                id="fram-button"
                class="bg-transparent hover:bg-blue-500 text-[#6CAEFF] bg-white hover:text-white py-2 px-12 border border-white-500 hover:border-transparent rounded absolute mt-8"
              >
                <h1>
                  <i
                    class="fa-solid fa-arrow-left mr-2 top-[0.3rem] relative"
                  ></i>
                  كن جزاّ من التحول الان
                </h1>
              </button>
            </div>
          </div>
          <!-------------------Hero right Coulmn---------------------------->
          <div class="hero-left-column relative top-[0.8rem]">
            <!-------------------icons collection Svg---------------------------->
            <div class="icons-collection">
              <img
                src="./Public/assets/Layer10.png"
                alt="Layer10"
                id="top-left-rectangle"
                class="absolute w-[50px] ml-14 mt-[7rem] z-20"
              />
              <!-------------------insides Rectangle Svg---------------------------->

              <img
                src="./Public/assets/rectangle2.png"
                class="absolute w-[50px] ml-8 mt-[18rem] z-20"
                alt=""
                id="icon-fram_1"
              />
              <img
                src="./Public/assets/rectangle.png"
                class="absolute w-[60px] ml-[26rem] mt-[10rem] z-20"
                alt=""
                id="icon-fram_2"
              />
              <img
                src="./Public/assets/Layer7.png"
                class="absolute w-[60px] ml-[26rem] mt-[18rem] z-20"
                alt=""
                id="icon-fram_3"
              />
            </div>
            <div class="third-frame">
              <img
                src="./Public/assets/Ellipse84.png"
                alt="main-Svgrectangle"
                class="absolute z-10 w-[530px] mt-[1rem]"
              />
              <img
                class="profile-media w-[280px] mt-[11rem] ml-[8rem] relative z-20"
                src="./Public/assets/handsome-man-with-dish-dasha-working-his-business-office-dubai-(1) 1.png"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--------------------Bussniess Discription Comoponent------------------------>
    <section class="bussiness-Discription">
      <div class="splide">
        <div class="my-slider-progress" dir="rtl">
          <div class="my-slider-progress-bar"></div>
          <div class="progress-content">
            <img src="./Public/assets/paperplane.png" alt=" Icon" width="100" />
            <span id="progressText" class="text-[#2286FF] text-3xl w-[450px]">
              هل سمعت؟</span
            >
          </div>
        </div>
        <div class="splide__track section">
          <ul class="splide__list section" id="section2">
            <li class="splide__slide">
              <img
                src="./Public/assets/Images_1.png"
                class="w-full absolute"
                id="filter-background"
              />
              <div
                class="Discription-content text-white m-auto w-[608px] top-[24rem] relative z-20 text-center"
              >
                <h1>
                  هل سمعت بسيارة
                  <span id="backgroundAnimation" class="background-animations"
                    >ذاتية الغسيل</span
                  >
                  من الداخل والخارج؟
                </h1>
              </div>
            </li>
            <li class="splide__slide">
              <img
                src="./Public/assets/Images_2.png"
                class="w-full absolute"
                id="filter-background"
              />
              <div
                class="Discription-content text-white m-auto w-[608px] top-[24rem] relative z-20 text-center"
              >
                <h1>
                  هل سمعت بمطعم يقدم وجبات للعملاء
                  <span
                    id="backgroundAnimation_2"
                    class="background-animations"
                  >
                    بناءا على حالتهم النفسية؟
                  </span>
                </h1>
              </div>
            </li>
            <li class="splide__slide">
              <img
                src="./Public/assets/Images_3.png"
                class="w-full absolute"
                id="filter-background"
              />
              <div
                class="Discription-content text-white m-auto w-[608px] top-[24rem] relative z-20 text-center"
              >
                <h1>
                  <span
                    id="backgroundAnimation_3"
                    class="background-animations"
                  >
                    هل سمعت بمعرض ادوات منزلية مثل ساكو وغيرها يقدم</span
                  >
                  تجربة حقيقية للعملاء لمعرفة كيفية استخدام الادوات التي تستخدم
                  في اعمال المنزل والحديقة
                </h1>
              </div>
            </li>
            <li class="splide__slide">
              <img
                src="./Public/assets/Images_4.png"
                class="w-full"
                id="filter-background"
              />
              <div
                class="Discription-content text-white m-auto w-[608px] top-[24rem] absolute right-0 left-0 z-20 text-center"
              >
                <h1>
                  هل سمعت بشركة طيران تقلع طائراتها بعد امتلاء المقاعد وتستهدف
                  <span
                    id="backgroundAnimation_4"
                    class="background-animations"
                  >
                    عملاء غير حساسين لوقت الاقلاع والهبوط؟
                  </span>
                </h1>
              </div>
            </li>
          </ul>
        </div>
        <div class="custom-pagination">
          <button data-splide-page="1">
            <img
              class="icons-inactive w-[80px]"
              id="border-icon"
              src="./Public/assets/icon-active.png"
            />
          </button>
          <button data-splide-page="2">
            <img
              class="icons-inactive w-[80px]"
              src="./Public/assets/icon-active-2.png"
            />
          </button>
          <button data-splide-page="3">
            <img
              class="icons-inactive w-[80px]"
              src="./Public/assets/icon-activer3.png"
            />
          </button>
          <button data-splide-page="4">
            <img
              class="icons-inactive w-[80px]"
              src="./Public/assets/icon-active-4.png"
            />
          </button>
        </div>
      </div>
    </section>
    <!----------------------- Policy Component------------------>
    <section class="policy-container section" id="section3">
      <div class="policy-content">
        <div class="policy-details relative text-center z-10 top-[14rem]">
          <div class="policy-animations h-[74px]">
            <img
              src="./Public/assets/paperplane.png"
              class="w-[70px] m-auto relative left-[18rem] opacity-0"
              id="plane-frame"
              alt=""
            />
            <img
              src="./Public/assets/Vector2.png"
              class="w-[40px] m-auto relative left-[26px] top-[-12px] right-0 z-[-1] absolute"
              id="plane-frame_2"
              alt=""
            />
            <img
              src="./Public/assets/Vector3.png"
              class="w-[35px] m-auto relative left-[29px] top-[-79px] right-0 z-[-1] absolute"
              id="plane-frame_3"
              alt=""
            />
          </div>
          <h1
            class="text-3xl mt-[1.1rem] font-semibold w-[1068px] text-center text-[#2286FF] m-auto"
          >
            نحن نعمل على تغيير القواعد والمعايير في عالم الأعمال، ونحن هنا علي
            مساعدتك
          </h1>
          <span
            class="text-3xl mt-16 font-semibold w-[1068px] text-center text-[#2286FF] m-auto"
          >
            <img
              src="./Public/assets/Frame 521.png"
              alt="custom-border"
              class="custom-border m-auto left-0 right-0 w-[500px] h-[100px] absolute z-10 top-[8rem] z-[-1]"
            />
            <p class="mt-4 policy-frame text-[#fff]">
              !تحقيق أهدافك بطرق لا تصدق
            </p>
          </span>
          <button
            dir="ltr"
            class="bg-black hover:bg-blue-500 text-[#fff] bg-black hover:text-white py-2 px-12 border border-black-500 hover:border-transparent rounded relative text-center top-[4rem] m-auto flex"
          >
            <h1>
              <i class="fa-solid fa-arrow-left mr-2 top-[0.3rem] relative"></i>
              كن جزاّ من التحول الان
            </h1>
          </button>
        </div>
      </div>
    </section>
    <!-- ---------------Booking ShowCase Section---------------- -->
    <section class="booking-container">
      <div class="booking-content">
        <div
          id="section4"
          class="booking-discription top-[10rem] text-center m-auto text-white relative z-10 section"
        >
          <h1 class="text-5xl font-bold">احجز مقابلة مجانية معنا</h1>
          <p
            class="font-semibold w-[450px] text-center m-auto relative mt-[1rem]"
          >
            استفد من فرصة مقابلة استشارية مجانية الآن!
          </p>
          <p class="font-semibold w-full text-center m-auto relative">
            دعنا نساعدك في تحقيق أهدافك وفتح أفاق جديدة لنجاحك. احجز موعدك اليوم
            وابدأ رحلتك نحو مستقبل مشرق.
          </p>
        </div>
        <div class="calender relative z-10 top-[13rem]">
          <!-- component -->
          <div class="flex items-center justify-center py-8 px-4">
            <div class="booking-inputs hidden">
              <div dir="rtl" class="date-column text-white">
                <ul class="flex text-2xl mr-4 mt-4">
                  <li><h1>الإثنين</h1></li>
                  <li><p>19 نوفمبر</p></li>
                  <li><p>2024</p></li>
                </ul>
              </div>
              <form action="">
                <hr class="my-6" />
                <label
                  dir="rtl"
                  class="uppercase text-sm float-right mr-4 font-bold opacity-70 text-white"
                  >الوقت</label
                >
                <select
                  dir="rtl"
                  type="text"
                  class="p-3 top-2 relative mt-6 mb-4 w-[350px] block ml-[3rem] bg-white rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none"
                >
                  <option>اختار الوقت</option>
                </select>
                <div class="relative">
                  <span
                    class="absolute inset-y-0 right-[1rem] mt-[2rem] pl-2 flex items-center z-10"
                  >
                    <i class="fas fa-user text-gray-500"></i>
                  </span>
                  <label
                    dir="rtl"
                    class="uppercase text-sm float-right mr-4 font-bold opacity-70 text-white"
                    >الاسم الكامل</label
                  >
                  <input
                    dir="rtl"
                    type="text"
                    placeholder=" الاسم"
                    class="pr-[2rem] p-3 top-2 relative mt-6 mb-4 w-[350px] block ml-[3rem] bg-white rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none"
                  />
                </div>
                <div class="relative">
                  <span
                    class="absolute inset-y-0 right-[1rem] mt-[2rem] pl-2 flex items-center z-10"
                  >
                    <i class="fas fa-envelope text-gray-500"></i>
                  </span>
                  <label
                    dir="rtl"
                    class="uppercase text-sm float-right mr-4 font-bold opacity-70 text-white"
                    >البريد الالكتروني</label
                  >
                  <input
                    dir="rtl"
                    type="email"
                    placeholder="  البريد الالكتروني"
                    class="pr-[2rem] p-3 top-2 relative mt-6 mb-4 w-[350px] block ml-[3rem] bg-white rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none"
                  />
                </div>
                <div class="relative">
                  <span
                    class="absolute inset-y-0 right-[1rem] pl-2 flex items-center z-10"
                  >
                    <i class="fas fa-phone text-gray-500"></i>
                  </span>
                  <label
                    dir="rtl"
                    class="uppercase text-sm float-right mr-4 font-bold opacity-70 text-white"
                  >
                    رقم التوصل</label
                  >
                  <input
                    dir="rtl"
                    type="text"
                    placeholder="رقم التواصل"
                    class="pr-[2rem] p-3 top-2 relative mt-6 mb-4 w-[350px] block ml-[3rem] bg-white rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none"
                  />
                  <label dir="rtl" for="terms" class="flex items-center">
                    <input
                      dir="rtl"
                      type="checkbox"
                      id="terms"
                      name="terms"
                      class="form-checkbox text-blue-500"
                    />
                    <span class="ml-2 text-sm text-white">
                      هل توافق علي الشروط والاحكام
                    </span>
                  </label>
                </div>
                <button
                  class="bg-[#aeaeae] hover:bg-[#c1c1c1] text-white font-bold py-2 px-4 rounded toggle-booking-inputs"
                >
                  احجز الموعد
                </button>
              </form>
            </div>

            <div class="max-w-[29rem] w-full shadow-lg">
              <div class="md:p-8 p-5 dark:bg-white bg-white rounded-t">
                <div class="px-4 flex items-center justify-between">
                  <div class="flex items-center m-auto text-center top-[1rem]">
                    <button
                      aria-label="calendar backward"
                      class="focus:text-gray-400 hover:text-gray-400 text-black"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-chevron-left"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <polyline points="15 6 9 12 15 18" />
                      </svg>
                    </button>
                    <span
                      tabindex="0"
                      class="focus:outline-none text-base font-bold text-black"
                      >يناير 2024</span
                    >
                    <button
                      aria-label="calendar forward"
                      class="focus:text-gray-400 hover:text-gray-400 ml-3 text-black"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-chevron-right"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <polyline points="9 6 15 12 9 18" />
                      </svg>
                    </button>
                  </div>
                </div>
                <div
                  class="flex items-center justify-between pt-12 overflow-x-auto"
                >
                  <table class="w-full">
                    <thead>
                      <tr>
                        <th>
                          <div class="w-full flex justify-center">
                            <p
                              class="text-base font-medium text-center text-[#4096FF]"
                            >
                              الجمعة
                            </p>
                          </div>
                        </th>
                        <th>
                          <div class="w-full flex justify-center">
                            <p
                              class="text-base font-medium text-center text-[#4096FF]"
                            >
                              الخميس
                            </p>
                          </div>
                        </th>
                        <th>
                          <div class="w-full flex justify-center">
                            <p
                              class="text-base font-medium text-center text-[#4096FF]"
                            >
                              الاربعاء
                            </p>
                          </div>
                        </th>
                        <th>
                          <div class="w-full flex justify-center">
                            <p
                              class="text-base font-medium text-center text-[#4096FF]"
                            >
                              الثلاثاء
                            </p>
                          </div>
                        </th>
                        <th>
                          <div class="w-full flex justify-center">
                            <p
                              class="text-base font-medium text-center text-[#4096FF]"
                            >
                              الاثنين
                            </p>
                          </div>
                        </th>
                        <th>
                          <div class="w-full flex justify-center">
                            <p
                              class="text-base font-medium text-center text-[#4096FF]"
                            >
                              الأحد
                            </p>
                          </div>
                        </th>
                        <th>
                          <div class="w-full flex justify-center">
                            <p
                              class="text-base font-medium text-center text-[#4096FF]"
                            >
                              السبت
                            </p>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="pt-6">
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          ></div>
                        </td>
                        <td class="pt-6">
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          ></div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          ></div>
                        </td>
                        <td class="pt-6">
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              1
                            </p>
                          </div>
                        </td>
                        <td class="pt-6">
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              2
                            </p>
                          </div>
                        </td>
                        <td class="pt-6">
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100"
                            >
                              3
                            </p>
                          </div>
                        </td>
                        <td class="pt-6">
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100"
                            >
                              4
                            </p>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              5
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              6
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              7
                            </p>
                          </div>
                        </td>
                        <td>
                          <div class="w-full h-full">
                            <div
                              class="flex items-center justify-center w-full rounded-full cursor-pointer"
                            >
                              <a
                                role="link"
                                tabindex="0"
                                class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 focus:bg-[#6CAEFF]hover:bg-[#6CAEFF]text-base w-8 h-8 flex items-center justify-center font-medium text-white bg-[#6CAEFF] rounded-full"
                                >8</a
                              >
                            </div>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              9
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100"
                            >
                              10
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100"
                            >
                              11
                            </p>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              12
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              13
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              14
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              15
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              16
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100"
                            >
                              17
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100"
                            >
                              18
                            </p>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              19
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              20
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              21
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              22
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              23
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100"
                            >
                              24
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100"
                            >
                              25
                            </p>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              26
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              27
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              28
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              29
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            class="px-2 py-2 cursor-pointer flex w-full justify-center"
                          >
                            <p
                              class="text-base text-gray-500 dark:text-gray-100 font-medium"
                            >
                              30
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!---------------------------------subscribtion section-------------------------------------->
    <section class="subscribtion">
      <div class="subscribtion-container">
        <div
          id="section5"
          class="subscribtion-title relative z-10 top-[9rem] m-auto w-full text-center text-white section"
        >
          <h1 class="text-6xl">اشترك معنا واحصل على نموذج عمل صعب التقليد</h1>
          <p class="mt-[4rem]">
            استفد من أدوات التفوق معنا: تحديد المخرجات، ابتكار الحلول، وربطها
            بنموذج عمل فريد، مع تكتيكات تنفيذية وفكرة تسويقية قوية. انضم الآن
            للنجاح!
          </p>
        </div>
        <div
          class="subscribtion-content w-[422px] h-auto relative m-auto top-[12rem]"
        >
          <div
            class="subscribtion-details bg-[#147EFF] h-[20vh] relative z-10 w-full rounded-t-lg"
          >
            <h1
              class="package-price text-2xl ml-6 text-white top-[3rem] relative font-semibold"
            >
              س.ر 1500
            </h1>
            <p
              dir="rtl"
              class="text-xl text-white mr-16 relative font-semibold"
            >
              باقة مجنا استراتجي
            </p>
            <img
              src="./Public/assets/paperplane (1).png"
              alt="logo-pramtter"
              class="absolute right-4"
            />
            <h1 dir="rtl" class="text-2xl text-white mr-16 font-semibold">
              للمنشأت الصغيرة
            </h1>
          </div>
          <div dir="rtl" class="subscribtion-feature relative z-20 mt-4">
            <p
              class="text-white font-semibold m-auto border-b-[1px] w-[90%] pb-4"
            >
              من خلال ست اجتماعات تحصل على نموذج عمل صعب التقليد
            </p>
            <ul class="feature-list mt-4 mr-2">
              <li dir="rtl" class="features-source">
                <img src="./Public/assets/arrow.png" />
                <p class="text-white mr-2">
                  تحديد المخرجات المهمة والغير مخدومة
                </p>
              </li>
              <li dir="rtl" class="features-source mt-4">
                <img src="./Public/assets/arrowv2.png" />
                <p class="text-white mr-2">
                  تحديد المخرجات المهمة والغير مخدومة
                </p>
              </li>
              <li dir="rtl" class="features-source mt-4">
                <img src="./Public/assets/arrow.png" />
                <p class="text-white mr-2">ابتكار حلول لخدمة هذه المخرجات</p>
              </li>
              <li dir="rtl" class="features-source mt-4">
                <img src="./Public/assets/arrowv2.png" />
                <p class="text-white mr-2">
                  ربط الحلول مع نموذج العمل لكي يصعب تقليد نموذج العمل
                </p>
              </li>
              <li dir="rtl" class="features-source mt-4">
                <img src="./Public/assets/arrow.png" />
                <p class="text-white mr-2">التكتيكات المستخدمة لتطبيق كل حل</p>
              </li>
              <li dir="rtl" class="features-source mt-4">
                <img src="./Public/assets/arrowv2.png" />
                <p class="text-white mr-2">
                  ابتكار الفكرة التسويقية لتسويق الحل
                </p>
              </li>
              <li dir="rtl" class="features-source mt-4">
                <img src="./Public/assets/arrow.png" />
                <p class="text-white mr-2">
                  عدد ستة اجتماعات وماجنا ستراتيجي جاهزة
                </p>
              </li>
              <li dir="rtl" class="features-source mt-4">
                <img src="./Public/assets/arrowv2.png" />
                <p class="text-white mr-2">
                  تحصل على ملف خطة عمل تنفيذية لتطبيق الاستراتيجية
                </p>
              </li>
              <li dir="rtl" class="features-source mt-4">
                <img src="./Public/assets/arrow.png" />
                <p class="text-white mr-2">
                  تحصل على ملف خاص بتكتيكات نموذج عملك صعب التقليد
                </p>
              </li>
              <li dir="rtl" class="features-source mt-4">
                <img src="./Public/assets/arrowv2.png" />
                <p class="text-white mr-2">
                  تحصل على خطة عمل تنفيذية لتسويق الافكار المقترحة
                </p>
              </li>
            </ul>
            <div class="sub-button m-auto relative p-4 text-center">
              <button
                id="booking-button"
                class="bg-[#147EFF] hover:bg-blue-500 text-white hover:text-white py-2 px-4 border border-[#147EFF] hover:border-transparent rounded relative w-[250px] font-semibold"
              >
                احجز استشارتك الأن
              </button>
            </div>
          </div>
        </div>
      </div>
      <footer
        class="main-footer m-auto text-center w-full bg-[#0E0E14] h-[60px]"
      >
        <h1 class="text-[#33353D] relative top-[1rem]">
          &copy; 2023 by MAGNA STRATEGY
        </h1>
      </footer>
    </section>
    <!---------------------------Footer---------------------->
  </body>
  <!--All Scripts Dom-->
  <!--jquery dependencies-->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <!--bx slider dependacies-->
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
  <!----------bx trigger--------->
  <!--
  #1-this execution has to be on body not on index to tigger be as priority for Responsive 
  #2-there's a Span trigger container for Gsap (GreenSock) animation incase if there's a loader
  -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/ScrollTrigger/1.0.6/ScrollTrigger.min.js"
    integrity="sha512-+LXqbM6YLduaaxq6kNcjMsQgZQUTdZp7FTaArWYFt1nxyFKlQSMdIF/WQ/VgsReERwRD8w/9H9cahFx25UDd+g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <!--Gsap dependecies-->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"
    integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>

  <!--All Scripts Dom index-->
  <script src="./index.js"></script>
</html>
