<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Slider Plugin-->
    <link
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
      rel="stylesheet"
    />
    <!--Tailwind dependencies-->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>MAGNA | منجنا استراتجي</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>عملاؤنا| MAGNA</title>
    <!--Fav icon-->
    <link rel="icon" href="./Public/assets/Favicon.png" type="image/x-icon" />
  </head>
  <body class="bg-[#EDF2F7]">
    <!----------------------NAV Header------------------------->
    <!--          START FROM HERE DEPLOY ON ALL ROUTES         -->
    <header>
      <nav
        class="main-navbar-routes mr-16 mt-8 flex fixed right-0 z-50"
        dir="rtl"
      >
        <div class="responsive-icons mr-6">
          <i class="fa-solid fa-bars icon-active"></i>
        </div>
        <a href="./index.html">
          <div class="logo" id="logo_routes">
            <img
              src="./Public/assets/Logo.png"
              alt=""
              class="magna-logo w-[150px] relative mt-[0.2rem] mr-16"
            />
          </div>
        </a>
        <!------responsive_logo--------->
        <a href="./index.html">
          <div class="responsive_logo">
            <img
              src="./Public/assets/Responsiv_Logo.png"
              alt=""
              class="magna-logo w-[30px] relative mt-[1.5rem] mr-16"
            />
          </div>
        </a>

        <ul class="main-list flex mr-2 mt-2 font-semibold" id="nav-routes">
          <li><a href="./index.html">الرئيسية</a></li>
          <li><a href="./policy.html">منهجية ماجنا الاستراتيجي</a></li>
          <li><a href="./clients.html">عملاؤنا</a></li>
          <li><a href="./contactus.html">تواصل معنا</a></li>
        </ul>
      </nav>
      <button
        id="booking-button"
        dir="ltr"
        class="bg-transparent mt-[-0.5rem] hover:bg-blue-500 text-white hover:text-white py-2 px-4 border border-white-500 hover:border-transparent rounded left-16 font-semibold top-[2rem] z-50 fixed"
      >
        احجز استشارتك الأن
      </button>
    </header>
    <!--ALL ROUTES Header ShowCASE-->
    <section class="Routes-header" id="clients-Route">
      <div class="Routes-container" id="client-routes_container">
        <div
          dir="rtl"
          class="routes-content text-white relative z-10 mr-12 top-[12rem]"
          id="client-routes_content"
        >
          <h1 class="text-6xl">منهجية ماجنا ستراتيجي</h1>
          <p class="mt-8 text-xl font-thin">
            استعد للنجاح! سنكشف عن خطة تحويلية تجعلك تتقدم بخطى ثابتة نحو نجاح
            استثنائي.
          </p>
        </div>
      </div>
    </section>
    <!----------------------Steps sections------------------->
    <section class="steps">
      <div
        class="section-container w-[1200px] bg-white h-auto m-auto top-[1rem] relative"
      >
        <div class="steps-content relative top-12">
          <ol class="space-y-3">
            <li
              dir="rtl"
              class="text-body-color dark:text-dark-6 flex text-base m-auto text-center mr-[7rem]"
            >
              <span
                class="bg-gradient-to-r from-cyan-500 to-blue-500 flex h-[78px] w-[80px] max-w-[140px] items-center justify-center rounded-full text-base text-white mr-4"
              >
                <p class="text-3xl">1</p>
              </span>
              <div dir="rtl" class="text-start mt-4 mr-4">
                <h1 class="text-3xl text-[#318EFF] mt-4">
                  تحديد المخرجات المهمة والغير مخدومة لعملائك
                </h1>
                <p class="text-sm font-bold w-[676px] mt-6">
                  تحديد النتائج أو المخرجات التي تعد هامة ولكن لم تتلقى الاهتمام
                  الكافي أو الدعم. من خلال تحديد هذه المخرجات، نتمكن من فهم
                  الاحتياجات الأساسية لعملائنا وتحديد المجالات التي يمكن تحسينها
                </p>
              </div>
            </li>
            <svg
              class="m-auto relative left-[2.5rem] top-[-4rem]"
              id="myPath"
              width="794"
              height="203"
              viewBox="0 0 794 203"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M791.039 0C791.039 142 791.039 142 709.999 142C628.958 142 208.539 142 44.5392 142C-0.960693 142 2.03923 166 2.03926 203"
                stroke="url(#paint0_linear_219_1261)"
                stroke-width="2"
              />

              <defs>
                <linearGradient
                  id="paint0_linear_219_1261"
                  x1="843.093"
                  y1="-21.9981"
                  x2="65.6431"
                  y2="318.846"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#147EFF" stop-opacity="0.2" />
                  <stop offset="1" stop-color="#147EFF" />
                </linearGradient>
              </defs>
            </svg>

            <img
              src="./Public/assets/paperplane.png"
              alt=""
              class="leading-animation"
            />
            <li
              class="text-body-color dark:text-dark-6 flex text-base relative left-[11.5rem] top-[-5rem]"
            >
              <span
                class="bg-gradient-to-r from-cyan-500 to-blue-500 flex h-[78px] w-[90px] max-w-[140px] items-center justify-center rounded-full text-base text-white ml-4"
              >
                <p class="text-3xl">2</p>
              </span>
              <div class="text-start mt-4 ml-8">
                <h1 class="text-3xl text-[#318EFF] mt-4">
                  تحديد المخرجات المهمة والغير مخدومة لعملائك
                </h1>
                <p class="text-sm font-bold w-[676px] mt-6">
                  تحديد النتائج أو المخرجات التي تعد هامة ولكن لم تتلقى الاهتمام
                  الكافي أو الدعم. من خلال تحديد هذه المخرجات، نتمكن من فهم
                  الاحتياجات الأساسية لعملائنا وتحديد المجالات التي يمكن تحسينها
                </p>
              </div>
            </li>
            <img
              src="./Public/assets/paperplane.png"
              alt=""
              class="leading-animation-left"
            />
            <svg
              id="myPath"
              class="relative left-[15rem] top-[-9rem]"
              width="795"
              height="203"
              viewBox="0 0 795 203"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_202_1400)">
                <mask
                  id="mask0_202_1400"
                  style="mask-type: alpha"
                  maskUnits="userSpaceOnUse"
                  x="-4"
                  y="0"
                  width="806"
                  height="203"
                >
                  <rect
                    width="805"
                    height="203"
                    transform="matrix(-1 0 0 1 801.001 0)"
                    fill="#D9D9D9"
                  />
                </mask>
                <g mask="url(#mask0_202_1400)">
                  <path
                    d="M2.96063 0C2.96063 142 2.96063 142 84.0015 142C165.042 142 585.461 142 749.461 142C794.961 142 791.961 166 791.961 203"
                    stroke="url(#paint0_linear_202_1400)"
                    stroke-width="2"
                    stroke-dasharray="8 12"
                  />
                </g>
              </g>
              <defs>
                <linearGradient
                  id="paint0_linear_202_1400"
                  x1="-49.0934"
                  y1="-21.9981"
                  x2="728.357"
                  y2="318.846"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#147EFF" stop-opacity="0.2" />
                  <stop offset="1" stop-color="#147EFF" />
                </linearGradient>
                <clipPath id="clip0_202_1400">
                  <rect
                    width="795.003"
                    height="203"
                    fill="white"
                    transform="matrix(-1 0 0 1 795.001 0)"
                  />
                </clipPath>
              </defs>
            </svg>

            <li
              dir="rtl"
              class="text-body-color dark:text-dark-6 flex text-base relative right-[7rem] top-[-10rem]"
            >
              <span
                class="bg-gradient-to-r from-cyan-500 to-blue-500 flex h-[78px] w-[80px] max-w-[140px] items-center justify-center rounded-full text-base text-white mr-4"
              >
                <p class="text-3xl">3</p>
              </span>
              <div dir="rtl" class="text-start mt-4 mr-4">
                <h1 class="text-3xl text-[#318EFF] mt-4">
                  تحديد المخرجات المهمة والغير مخدومة لعملائك
                </h1>
                <p class="text-sm font-bold w-[676px] mt-6">
                  تحديد النتائج أو المخرجات التي تعد هامة ولكن لم تتلقى الاهتمام
                  الكافي أو الدعم. من خلال تحديد هذه المخرجات، نتمكن من فهم
                  الاحتياجات الأساسية لعملائنا وتحديد المجالات التي يمكن تحسينها
                </p>
              </div>
            </li>
            <img
              src="./Public/assets/paperplane.png"
              alt=""
              class="leading-animation"
              id="plane-frame_4"
            />
            <svg
              class="m-auto relative left-[2.5rem] top-[-14rem]"
              id="myPath"
              width="794"
              height="203"
              viewBox="0 0 794 203"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M791.039 0C791.039 142 791.039 142 709.999 142C628.958 142 208.539 142 44.5392 142C-0.960693 142 2.03923 166 2.03926 203"
                stroke="url(#paint0_linear_219_1261)"
                stroke-width="2"
              />

              <defs>
                <linearGradient
                  id="paint0_linear_219_1261"
                  x1="843.093"
                  y1="-21.9981"
                  x2="65.6431"
                  y2="318.846"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#147EFF" stop-opacity="0.2" />
                  <stop offset="1" stop-color="#147EFF" />
                </linearGradient>
              </defs>
            </svg>
            <li
              class="text-body-color dark:text-dark-6 flex text-base relative left-[11.5rem] top-[-15rem]"
            >
              <span
                class="bg-gradient-to-r from-cyan-500 to-blue-500 flex h-[78px] w-[90px] max-w-[140px] items-center justify-center rounded-full text-base text-white ml-4"
              >
                <p class="text-3xl">4</p>
              </span>
              <div class="text-start mt-4 ml-8">
                <h1 class="text-3xl text-[#318EFF] mt-4 w-[800px]">
                  تحديد التكتيكات الاستراتيجية التي سيتم استخدامها لخدمة هذه
                  المخرجات المهمة والغير مخدومة
                </h1>
                <p class="text-sm font-bold w-[676px] mt-6">
                  تحديد النتائج أو المخرجات التي تعد هامة ولكن لم تتلقى الاهتمام
                  الكافي أو الدعم. من خلال تحديد هذه المخرجات، نتمكن من فهم
                  الاحتياجات الأساسية لعملائنا وتحديد المجالات التي يمكن تحسينها
                </p>
              </div>
            </li>
            <svg
              id="myPath"
              class="relative left-[15rem] top-[-21rem]"
              width="795"
              height="203"
              viewBox="0 0 795 203"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_202_1400)">
                <mask
                  id="mask0_202_1400"
                  style="mask-type: alpha"
                  maskUnits="userSpaceOnUse"
                  x="-4"
                  y="0"
                  width="806"
                  height="203"
                >
                  <rect
                    width="805"
                    height="203"
                    transform="matrix(-1 0 0 1 801.001 0)"
                    fill="#D9D9D9"
                  />
                </mask>
                <g mask="url(#mask0_202_1400)">
                  <path
                    d="M2.96063 0C2.96063 142 2.96063 142 84.0015 142C165.042 142 585.461 142 749.461 142C794.961 142 791.961 166 791.961 203"
                    stroke="url(#paint0_linear_202_1400)"
                    stroke-width="2"
                    stroke-dasharray="8 12"
                  />
                </g>
              </g>
              <defs>
                <linearGradient
                  id="paint0_linear_202_1400"
                  x1="-49.0934"
                  y1="-21.9981"
                  x2="728.357"
                  y2="318.846"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#147EFF" stop-opacity="0.2" />
                  <stop offset="1" stop-color="#147EFF" />
                </linearGradient>
                <clipPath id="clip0_202_1400">
                  <rect
                    width="795.003"
                    height="203"
                    fill="white"
                    transform="matrix(-1 0 0 1 795.001 0)"
                  />
                </clipPath>
              </defs>
            </svg>
            <img
              src="./Public/assets/paperplane.png"
              alt=""
              class="leading-animation"
            />
            <li
              dir="rtl"
              class="text-body-color dark:text-dark-6 flex text-base relative right-[7rem] top-[-22rem]"
            >
              <span
                class="bg-gradient-to-r from-cyan-500 to-blue-500 flex h-[78px] w-[80px] max-w-[140px] items-center justify-center rounded-full text-base text-white mr-4"
              >
                <p class="text-3xl">5</p>
              </span>
              <div dir="rtl" class="text-start mt-4 mr-4">
                <h1 class="text-3xl text-[#318EFF] text-center w-[800px] mt-4">
                  ابتكار الافكار التسويقية لتسويق الحلول المبتكرة لخدمة المخرجات
                  المهمة والغير مخدومة
                </h1>
                <p class="text-sm font-bold w-[676px] mt-6">
                  نقوم بتطوير استراتيجيات تسويقية فعالة للحلول المبتكرة التي تم
                  تطويرها. يهدف هذا الجانب إلى الترويج للحلول وجذب المزيد من
                  العملاء.
                </p>
              </div>
            </li>
            <img
              src="./Public/assets/paperplane.png"
              alt=""
              class="leading-animation"
              id="plane-frame_4"
            />
            <svg
              class="m-auto relative left-[2.5rem] top-[-30rem]"
              id="myPath"
              width="794"
              height="203"
              viewBox="0 0 794 203"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M791.039 0C791.039 142 791.039 142 709.999 142C628.958 142 208.539 142 44.5392 142C-0.960693 142 2.03923 166 2.03926 203"
                stroke="url(#paint0_linear_219_1261)"
                stroke-width="2"
              />

              <defs>
                <linearGradient
                  id="paint0_linear_219_1261"
                  x1="843.093"
                  y1="-21.9981"
                  x2="65.6431"
                  y2="318.846"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#147EFF" stop-opacity="0.2" />
                  <stop offset="1" stop-color="#147EFF" />
                </linearGradient>
              </defs>
            </svg>
            <li
              class="text-body-color dark:text-dark-6 flex text-base relative left-[11.5rem] top-[-28rem]"
            >
              <span
                class="bg-gradient-to-r from-cyan-500 to-blue-500 flex h-[78px] w-[90px] max-w-[140px] items-center justify-center rounded-full text-base text-white ml-4"
              >
                <p class="text-3xl">6</p>
              </span>
              <div class="text-start mt-4 ml-8">
                <h1 class="text-3xl text-[#318EFF] text-center w-[800px] mt-4">
                  ابتكار الافكار التسويقية لتسويق الحلول المبتكرة لخدمة المخرجات
                  المهمة والغير مخدومة
                </h1>
                <p class="text-sm font-bold w-[676px]">
                  نقوم بتطوير استراتيجيات تسويقية فعالة للحلول المبتكرة التي تم
                  تطويرها. يهدف هذا الجانب إلى الترويج للحلول وجذب المزيد من
                  العملاء.
                </p>
              </div>
            </li>
          </ol>
        </div>
        <div class="m-auto text-center">
          <p>تسليم خطة العمل التنفيذية للعميل</p>
          <h1>
            في النهاية، نقوم بتسليم خطة عمل تنفيذية مفصلة للعميل. تحتوي هذه
            الخطة على الوثائق المحددة التي تتعلق بالمنهجية والتسويق ونموذج العمل
            الفريد. تمكن العميل من تنفيذ الخطط والاستفادة من الحلول بنجاح. ​
            وتشمل خطة العمل مايلي: 1- ملف يحتوي على الخطة التنفيذية لمنهجية
            ماجنا ستراتيجي 2- ملف يحتوي على الخطة التنفيذية التسويقية للحلول
            المبتكرة 3- ملف يحتوي على الملف الخاص بنموذج العمل صعب التقليد
          </h1>
        </div>
      </div>
    </section>
    <!------------All Plugins--------->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!--bx slider dependacies-->
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <!----------bx trigger--------->
    <!--
  #1-this execution has to be on body not on index to trigger be as priority for Responsive 
  #2-there's a Span trigger container for Gsap (GreenSock) animation incase if there's a loader
  -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"
      integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!--All Scripts Dom index-->
    <script src="./index.js"></script>
  </body>
</html>
